body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(40, 19, 68);
    width: 100%;
}

.container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}

.main-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content h1 {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    left: -20em;
    text-align: center;
    color: rgb(145, 255, 0);
    font-size: 12em;
    font-weight: bolder;
}

.main-content a {
    text-decoration: none;
}


.main-content .h-1:hover {
    color: rgb(86, 255, 218);
}

.main-content .h-2:hover {
    color: rgb(255, 87, 255);
}

.main-content .h-3:hover {
    color: rgb(255, 132, 87);
}


.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.loading .dot {
    position: fixed;
    margin: auto;
    padding: 2vmin;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(157, 255, 0);
    border: 10px solid rgb(147, 230, 14);
    z-index: 999;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading .dot {
    animation: loading 1s infinite;
}




@keyframes loading {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }

}